{
  "trailingComma": "none",
  "singleQuote": true,
  "overrides": [
    {
      "files": "**/lwc/**/*.html",
      "options": { "parser": "lwc", "printWidth": 150 }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": { "parser": "html" }
    }
  ]
}
